@import './variables.scss';

[ui-button] {
    display: inline-block;
    padding: 8px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: $color-prime;
    cursor: pointer;
    transition: background-color 150ms ease-out;
    &:hover {
        background-color: $color-secondary;
        transition-timing-function: ease-in;
    }
}
[ui-icon-button] {
    opacity: 0.6;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 150ms ease-out;
    &:hover {
        opacity: 1;
    }
}
