@import './variables.scss';

[ui-form-field] {
    display: block;
    & > * {
        display: block;
    }
    & label {
        margin-bottom: 2px;
    }
    & input,
    & textarea {
        width: 100%;
        padding: 6px;
        border: 1px solid $color-border;
        border-radius: 3px;
        transition: border-color 150ms ease-in-out;
        &:not(:focus).error {
            border-color: $color-error;
            & ~ [ui-error] {
                opacity: 1;
            }
        }
    }
}

[ui-error] {
    opacity: 0;
    margin-top: 1px;
    font-size: 13px;
    color: $color-error;
    transition: opacity 150ms ease-in-out;
}
