$color-prime: #3bc4b3;
$color-secondary: #3ba9c1;
$color-error: #ed3b58;
$color-success: #3bcd6c;

$solor-system1: #374d50;
$solor-system2: #4d6366;
$solor-system3: #7f9598;
$solor-system4: #97adb0;
$solor-system5: #e0f2f4;
$solor-system6: #f1f7f8;

$color-text: $solor-system2;
$color-border: $solor-system4;
$color-icon: $solor-system3;
