<template>
    <div class="comments">
        <CommentPost />
        <div class="comments__filter">
            <select ui-select v-model="sort">
                <option value="desc">Сначала новые</option>
                <option value="asc">Сначала старые</option>
            </select>
        </div>
        <CommentView
            v-for="(comment, index) in commentsShown"
            :id="'comm-' + comment.id"
            :comment="comment"
            :highlight="idParam == comment.id"
            :key="comment.id"
        />
        <div class="comments__show" v-if="count < commentsTotal">
            <input ui-button type="button" value="Показать еще" @click="showMore()" />
        </div>
    </div>
</template>

<script lang="ts">
import CommentPost from '@/components/CommentPost.vue';
import CommentView from '@/components/CommentView.vue';
import { Vue, Component, Watch } from 'vue-property-decorator';
import { Comment, Sort } from '@/types';

@Component({
    components: {
        CommentPost,
        CommentView
    }
})
export default class Comments extends Vue {
    step: number = 10;
    count: number = this.step;
    sort: Sort = 'desc';
    mounted() {
        this.$store.dispatch('comments/GET');
        if (this.idParam) this.scrollToID();
    }
    get commentsSorted(): Comment[] {
        return this.$store.getters['comments/DATA_SORTED'](this.sort);
    }
    get commentsShown(): Comment[] {
        return this.commentsSorted.slice(0, this.count);
    }
    get commentsTotal(): number {
        return this.$store.getters['comments/TOTAL'];
    }
    get idParam(): string {
        return this.$route.params.id;
    }
    showMore() {
        this.count += this.step;
    }
    scrollToID() {
        const id: number = Number.parseInt(this.idParam);
        if (!id) return this.clearParam();
        const index: number = this.commentsSorted.findIndex(comment => comment.id === id) + 1;
        if (!index) return this.clearParam();
        if (this.count < index) {
            const steps: number = Math.ceil(index / this.step);
            this.count = steps * this.step;
        }
        setTimeout(() => {
            this.$scrollTo(`#comm-${id}`, 200);
        }, 0);
    }
    clearParam() {
        this.$router.push({ name: 'comments' });
    }
    @Watch('sort')
    onShortChanged() {
        this.count = this.step;
    }
    @Watch('idParam')
    onParamChanged() {
        if (this.idParam) this.scrollToID();
    }
}
</script>

<style scoped lang="scss">
@import '@/styles/button';
@import '@/styles/select';
.comments {
    margin-bottom: 40px;
    &__filter {
        margin-bottom: 20px;
        padding-top: 10px;
        border-top: 1px solid $color-border;
    }
    &__show {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}
</style>
