<template>
    <form class="post" @submit="checkForm">
        <div ui-form-field class="post__field">
            <label for="name">Имя</label>
            <input
                type="text"
                name="name"
                v-model="name"
                :maxlength="50"
                :class="{ error: isChecked && !name }"
            />
            <span ui-error>Введите имя</span>
        </div>
        <div ui-form-field class="post__field">
            <label class="field__label" for="text">Комментарий</label>
            <textarea-autosize
                class="field__input"
                ref="text"
                v-model="text"
                :min-height="40"
                :max-height="200"
                :maxlength="1000"
                :class="{ error: isChecked && !text }"
            />
            <span ui-error>Введите текст комментария</span>
        </div>
        <input ui-button class="post__button" type="submit" value="Отправить" />
    </form>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Comment } from '@/types';

@Component
export default class CommentPost extends Vue {
    name: string = '';
    text: string = '';
    isChecked: boolean = false;
    checkForm(event: Event) {
        event.preventDefault();
        this.isChecked = true;
        if (!this.name || !this.text) return;
        this.postComment();
    }
    postComment() {
        this.$store.dispatch('comments/CREATE', {
            name: this.name,
            text: this.text,
            dateCreate: new Date()
        } as Comment);
        this.resetForm();
    }
    resetForm() {
        this.name = '';
        this.text = '';
        this.isChecked = false;
    }
}
</script>

<style scoped lang="scss">
@import '@/styles/form';
@import '@/styles/button';
.post {
    margin: 30px 0;
    &__field {
        margin-bottom: 5px;
    }
    &__button {
        margin-top: 5px;
    }
}
</style>
