<template>
    <div class="view">
        <div class="head">
            <div class="head__logo">{{comment.name.charAt(0)}}</div>
            <div class="head__name">{{comment.name}}</div>
            <div class="head__date">{{formateDate(comment.dateCreate)}}</div>
            <router-link
                class="head__id"
                :to="{ name: 'comments-id', params: { id: comment.id } }"
            >id {{comment.id}}</router-link>
            <div class="tools" v-if="!confirmState">
                <button ui-icon-button @click="starEdit()">
                    <i class="material-icons">edit</i>
                </button>
                <button ui-icon-button @click="startDelete()">
                    <i class="material-icons">delete</i>
                </button>
            </div>
            <div class="tools confirm" v-else>
                <span
                    class="tools__text"
                >{{confirmState === 'delete' ? 'Удалить?' : 'Отредактировать?'}}</span>
                <button ui-icon-button @click="confirmAction()">
                    <i class="material-icons success">done</i>
                </button>
                <button ui-icon-button @click="rejectAction()">
                    <i class="material-icons error">clear</i>
                </button>
            </div>
        </div>
        <div class="text" :class="{ editing: confirmState === 'edit', highlight: highlight }">
            <div class="text__preview" v-if="confirmState !== 'edit'">{{comment.text}}</div>
            <textarea-autosize
                v-else
                class="text__editor"
                ref="textarea"
                v-model="textEdit"
                :min-height="20"
            />
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Comment } from '@/types';
import moment from 'moment';

type ConfirmState = 'edit' | 'delete' | null;

@Component
export default class CommentView extends Vue {
    confirmState: ConfirmState = null;
    textEdit: string = '';
    @Prop(Comment) readonly comment!: Comment;
    @Prop(Boolean) readonly highlight!: boolean;
    formateDate(value: string): string {
        if (!value) return '';
        return moment(value).format('DD.MM.YYYY, HH:mm:ss');
    }
    starEdit() {
        this.confirmState = 'edit';
        this.textEdit = this.comment.text;
        setTimeout(() => {
            ((this.$refs.textarea as Vue).$el as HTMLInputElement).focus();
        }, 0);
    }
    startDelete() {
        this.confirmState = 'delete';
    }
    confirmAction() {
        if (this.confirmState === 'delete') this.$store.dispatch('comments/DELETE', this.comment.id);
        else if (this.confirmState === 'edit') {
            const newText = this.textEdit.trim();
            if (!newText) return this.rejectAction();
            this.$store.dispatch('comments/EDIT', {
                ...this.comment,
                text: newText
            });
        }
        this.confirmState = null;
    }
    rejectAction() {
        this.confirmState = null;
    }
}
</script>

<style scoped lang="scss">
@import '@/styles/variables';
@import '@/styles/button';
.view {
    margin: 25px 0;
    &:hover {
        & .tools,
        * .head__id {
            opacity: 1;
        }
    }
}
.head {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: default;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 35px;
        min-width: 35px;
        border-radius: 50%;
        font-weight: 500;
        color: $color-secondary;
        background-color: #dff8f4;
        text-transform: uppercase;
    }
    &__name {
        max-width: 200px;
        margin-left: 6px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__date {
        margin-left: 4px;
        font-size: 12px;
        color: $solor-system4;
    }
    &__id {
        opacity: 0;
        margin-left: 5px;
        font-size: 12px;
        color: $color-secondary;
        transition: opacity 150ms ease-in-out;
    }
}
.text {
    width: 100%;
    padding: 12px 20px;
    background-color: $solor-system6;
    border-radius: 5px;
    &__preview {
        font-size: 14px;
        word-break: break-word;
    }
    &__editor {
        width: 100%;
        padding: 0;
        border: none;
        outline: none;
        font-size: 14px;
        background-color: transparent;
    }
    &.editing {
        border: 1px solid $color-border;
    }
    &.highlight {
        background-color: $solor-system5;
    }
}
.tools {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    transition: opacity 150ms ease-in-out;
    &__text {
        padding-right: 6px;
        font-size: 14px;
        // color: $color-secondary;
    }
    &:not(.confirm) {
        opacity: 0;
    }
    & > *:not(:last-child) {
        margin-right: 4px;
    }
}
</style>
